.main_grid {
    display: grid;
    grid-template-columns: 1fr repeat(2, minmax(auto, 25em)) 1fr;
}

.main_header {
    background-image: url(images/header_back.jpg);
}

.contacts_header {
    background-image: url(images/contacts_header_back.jpg);
}

.about_header {
    background-image: url(images/about_header_back.jpg);
}

.shop_header {
    background-image: url(images/shop_header_back.jpg);
}

.header1 {
    height: 100vh;
}


.header2 {
    height: 60vh;
}
.back {
    background-color: rgba(0, 0, 0, 0.5);
    height: 100%;
    display: flex;
    flex-direction: column;
    color: white;
}

header {
    background-size: cover;
    grid-column: 1/-1;
    
}

nav {
    display: flex;
    height: 100px;
    justify-content: space-between;
    align-items: center;
    padding: 20px 50px;
}

header nav a {
    height: 100%
}
.logo {
    height: 100%;
}


.menu {
    display: flex;
    list-style: none;
}

.menu li {
    padding: 1em 2em;
}


.menu li a:hover {
    color: orange;
    transition: 0.9s;
}

.banner {
	
	display: flex;
    flex-grow: 1;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}


.banner h1 {
	font-size: 72px;
}

.banner p {
	font-size: 22px;
	text-align: center;
	max-width: 40%;
	padding: 50px 0;
}

.button {
    background-color: #c49300;
    color: white;
    padding: 15px 50px;
    border-radius: 10px;
}


.button:hover {
    background-color: #8c6900;
    transition: 0.9s;
}


@media all and (max-width: 800px ) {
    .banner h1 {
        font-size: 25px;
    }
    
    .banner p {
        font-size: 10px;
    }

    .button {
        padding: 15px 25px;
        border-radius: 10px;
    }
    body {
        font-size: 10px;
    }
    
    nav {
        height: 20px;
        padding: 5px 10px;
    }
    
}
